<!doctype html>
<title>Imgur Memes</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.lazyload.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='masonry.pkgd.min.js') }}"></script>
<script type="text/javascript">
    // init memes grid
    var memes = document.querySelector('.memes')
    var masonry = new Masonry(memes, {
        columnWidth: 200,
        itemSelector: '.meme'
    });

    // init memes lazy-loading
    $(function() {
        $("img.lazy").lazyload();
    });
</script>
<div class="container">
    <h1>Imagur Memes</h1>
    <header>
    <nav>
        <ul>
        <li {% if request.path == '/' %}class="active"{% endif %}>
    <a href="{{ url_for('top_memes') }}">Top memes</a>
    </li>
            <li {% if request.path == '/favs' %}class="active"{% endif %}>
        <a href="{{ url_for('saved_memes') }}">Favourite memes</a>
                </li>
        </ul>
    </nav>
    </header>
    <main>
        {% for message in get_flashed_messages() %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}
        {% endblock %}
    </main>
</div>
