{% extends 'layout.html' %}
{% block body %}
    <h2>Memes</h2>
    <div class="memes">
        {% if memes %}
            {% for meme in memes %}
                {% if not meme.is_album  %}
                    <div class="meme">
                        {% if request.path == '/' %}
                            {# Top memes #}
                            <img src="{{ meme.link[::-1].replace('.', '.s', 1)[::-1] }}" alt="{{ meme.title }}" title="{{ meme.title }}" />
                            <a class="fancybox" href="{{ meme.link }}">
                            </a>
                        {% else %}
                            {# Saved memes #}
                            <img src="{{ url_for('static', filename=meme.id) }}" alt="{{ meme.title }}" title="{{ meme.title }}" />
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="no-meme">
                No memes or connection lost.
            </p>
        {% endif %}
    </div>
{% endblock %}
